<link rel="icon" type="image/x-icon" href="{{ '/assets/favicon.ico' | relative_url }}">
<script src="https://kit.fontawesome.com/70148e9001.js" crossorigin="anonymous"></script>
<meta name="darkreader-lock">
<script>
    MathJax = {
      tex: {
        inlineMath: [ ['$', '$'], ['\\(', '\\)'] ]
      },
      svg: {
        fontCache: 'global'
      }
    };
</script>
<script
    type="text/javascript" id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
</script>



<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

