---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: Bitter, "Apple SD Gothic Neo", AppleGothic, NanumBarunGothic, "Malgun Gothic", Dotum, sans-serif;
$monospace-font-family: Monaco, Menlo, Consolas, "Courier New", DotumChe, monospace;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

// $text-color:       #111;
// $background-color: #fdfdfd;
// $brand-color:      #2568ba;

$text-color: #ffffff;
$background-color: #0d0b14;
$code-bg: #28233e;
$brand-color: #e5acb8;
$grey-color: #c66a7e;
$grey-color-light: #e5acb8;
$grey-color-dark: #660b1f;

// $grey-color:       #757575;
// $grey-color-light: lighten($grey-color, 45%);
// $grey-color-dark:  darken($grey-color, 20%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// whiteglass also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit * 0.5;
//         padding-left: $spacing-unit * 0.5;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Import partials from the `whiteglass` theme.
@import "whiteglass";

#clouds-header {
  width: 1em;
  height: 1em;
  margin-right: 0.2em;
}

#footer-text {
  font-family: $monospace-font-family;
}

.header-link {
  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.rot13-scramble {
  color: $grey-color-light;
}

#footer-contact {
  margin-bottom: 0px;
}

#footer-contact > a {
  font-size: 16pt;
  margin-right: 10px;
  color: $grey-color; 
}

// Portraits

$intellect-color: #52a8b9;
$psyche-color: #835fe6;
$physique-color: #ea0e4c;
$motorics-color: #c5a12b;
$skillcheck-color: #989898;

.portrait-text-intellect {
  color: $intellect-color;
}

.portrait-text-psyche {
  color: $psyche-color;
}

.portrait-text-physique {
  color: $physique-color;
}

.portrait-text-motorics {
  color: $motorics-color;
}

.portrait-quote-intellect {
  border-left: 0.25em solid $intellect-color;
}

.portrait-quote-psyche {
  border-left: 0.25em solid $psyche-color;
}

.portrait-quote-physique {
  border-left: 0.25em solid $physique-color;
}

.portrait-quote-motorics {
  border-left: 0.25em solid $motorics-color;
}

.portrait-skillcheck {
  color: #989898;
}

.portrait-text {
  color: $text-color;
  font-style: normal;
}

.portrait-name {
  margin-bottom: 0px;
  font-style: normal;
}

.portrait-dialog {
  margin-bottom: 0px;
  font-style: normal;
}

.portrait-image {
  border-radius: 5%;
  width: 5.4m;
  height: 7.5em;
  margin-right: 1em;
}

.portrait {
  display: flex;
  flex-direction: row;
  align-items: start;
}