
$text-default: $text-color;

$text-literal: hsl(180, 100%, 37%);
$text-string: #9b96ff;
$text-var: #00eded;
$text-function: #e8c7ff;
$text-type: rgb(99, 125, 203);
$text-regex: #008522;
$text-decorator: #6eabab;
$text-keyword: #ff5781;

$text-comment: #bababa;
$text-comment-special: #e0e0e0;

$text-err: #a61717;

$bg-default: $code-bg;
$bg-err: $code-bg;
$bg-deleted: $code-bg;
$bg-inserted: $code-bg;

/**
 * Syntax highlighting styles
 */
.highlight {
  background-color: $code-bg;
  @extend %vertical-rhythm;

  .highlighter-rouge & {
    background-color: $code-bg;
  }

  .cm    { color: $text-comment } // Comment.Multiline
  .cp    { color: $text-comment-special } // Comment.Preproc
  .c1    { color: $text-comment } // Comment.Single
  .cs    { color: $text-comment-special } // Comment.Special
  .c, .cd { color: $text-comment-special} // Comment, Comment.Doc
  .err   { color: $text-err; background-color: $bg-err } // Error
  .gd    { color: $text-default; background-color: $bg-deleted } // Generic.Deleted
  .ge    { color: $text-default } // Generic.Emph
  .gr    { color: $text-err } // Generic.Error
  .gh    { color: $text-default } // Generic.Heading
  .gi    { color: $text-default; background-color: $bg-inserted } // Generic.Inserted
  .go    { color: $text-comment } // Generic.Output
  .gp    { color: $text-comment } // Generic.Prompt
  .gs    { font-weight: bold } // Generic.Strong
  .gu    { color: $text-comment } // Generic.Subheading
  .gt    { color: $text-err } // Generic.Traceback
  .kc    { color: $text-keyword } // Keyword.Constant
  .kd    { color: $text-keyword } // Keyword.Declaration
  .kn    { color: $text-keyword } // Keyword.Namespace
  .kp    { color: $text-keyword } // Keyword.Pseudo
  .kr    { color: $text-keyword } // Keyword.Reserved
  .kt    { color: $text-type } // Keyword.Type
  .k, .kv { color: $text-keyword} // Keyword, Keyword.Variable
  .mf    { color: $text-literal } // Literal.Number.Float
  .mh    { color: $text-literal } // Literal.Number.Hex
  .il    { color: $text-literal } // Literal.Number.Integer.Long
  .mi    { color: $text-literal } // Literal.Number.Integer
  .mo    { color: $text-literal } // Literal.Number.Oct
  .m, .mb, .mx { color: $text-literal } // Literal.Number, Literal.Number.Bin, Literal.Number.Other
  .sb    { color: $text-string } // Literal.String.Backtick
  .sc    { color: $text-string } // Literal.String.Char
  .sd    { color: $text-string } // Literal.String.Doc
  .s2    { color: $text-string } // Literal.String.Double
  .se    { color: $text-string } // Literal.String.Escape
  .sh    { color: $text-string } // Literal.String.Heredoc
  .si    { color: $text-string } // Literal.String.Interpol
  .sx    { color: $text-string } // Literal.String.Other
  .sr    { color: $text-regex } // Literal.String.Regex
  .s1    { color: $text-string } // Literal.String.Single
  .ss    { color: $text-string } // Literal.String.Symbol
  .s     { color: $text-string } // Literal.String
  .n     { color: $text-default }
  .na    { color: $text-var } // Name.Attribute
  .bp    { color: $text-default } // Name.Builtin.Pseudo
  .nb    { color: $text-keyword } // Name.Builtin
  .nc    { color: $text-type } // Name.Class
  .no    { color: $text-var } // Name.Constant
  .nd    { color: $text-decorator } // Name.Decorator
  .ni    { color: $text-type } // Name.Entity
  .ne    { color: $text-function } // Name.Exception
  .nf    { color: $text-function  } // Name.Function
  .nl    { color: $text-function  } // Name.Label
  .nn    { color: $text-default } // Name.Namespace
  .nt    { color: $text-var } // Name.Tag
  .vc    { color: $text-var } // Name.Variable.Class
  .vg    { color: $text-var } // Name.Variable.Global
  .vi    { color: $text-var } // Name.Variable.Instance
  .nv    { color: $text-var } // Name.Variable
  .ow    { color: $text-default } // Operator.Word
  .o     { color: $text-default } // Operator
  .w     { color: $text-default } // Text.Whitespace
}
